.question-section {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.q-container {
  padding: 5px 5px 5px 5px;

  .q-subcontainer {
    padding: 5px 5px 5px 5px;
    border:2px solid #007bff;
    border-radius: 25px;
    color:#007bff;
  }
}
