<section class="section bg-light">
  <div class="container bring-to-front py-0 question-section">
    <div class="card mb-4 shadow-box">
        <div class="card-header bg-contrast">
            <!-- <h5 class="mb-0">Radios</h5> -->
            <dc-feather [name]="'star'" [iconClass]="'stroke-primary'"></dc-feather>
            <a href="javascript:;" class="mt-4 text-primary d-flex align-items-center">
              <h4 class="mr-3">{{currentQuestion["Title"]}}</h4>
            </a>
            <p class="mt-4">
             {{currentQuestion["Description"]}}
            </p>
        </div>
        <div class="card-body">
          <div class="form-group" *ngIf="currentQuestion['QuestionType'] == 'Single'">
            <div class="q-container" *ngFor="let answer of currentQuestionAnswers">
              <div class="q-subcontainer">
                <div class="form-check">
                  <input class="form-check-input" type="radio" [id]="'qAnswers'+answer['ID']" name="qAnswers" [value]="answer['ID']"
                  (change)="recordAnswer(currentQuestion.ID, $event, false, -1)" />
                  <label class="form-check-label" [for]="'qAnswers'+answer['ID']">{{answer["AnswerName"]}} - {{answer["Description"]}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="currentQuestion['QuestionType'] == 'Multiple'">
            <div class="q-container" *ngFor="let answer of currentQuestionAnswers">
              <div class="q-subcontainer">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [id]="'qAnswers'+answer['ID']" name="qAnswers" [value]="answer['ID']"
                  (change)="recordAnswer(currentQuestion.ID, $event, true, currentQuestionAnswers.length)" />
                  <label class="form-check-label" [for]="'qAnswers'+answer['ID']">{{answer["AnswerName"]}} - {{answer["Description"]}}</label>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-lg btn-rounded bold px-4 mt-4" (click)="goPrevious()">Previous</button>
          <button type="button" class="btn btn-primary btn-lg btn-rounded bold px-4 mt-4" (click)="goNext()">{{nextButtonText}}</button>
        </div>
      </div>
  </div>
</section>
