.section-preq {
  padding-top: 20px;
}

.preq-container {
  padding-bottom: 0px;
  color:white;

  .rt-header {
    background-color: #acaeb0;
    color:white;
  }

  .rt-body {
    background-color: #acaeb0;
    color:white;
    .preq-col {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.sol-pr {


  .sol-pr-icon {
      height: 40px;
      width: 40px;
      padding-bottom: 0px;
  }

  .sol-pr-text {
    vertical-align: middle;
    padding-left: 10px;

  }
}
