<form class="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email" />
  </div>
  <div class="form-group">
    <label for="company">Technology Category</label>
    <input type="text" class="form-control" id="company" placeholder="Frontend/Middleware/Backend"/>
  </div>
  <div class="form-group">
    <label for="company">Request Type</label>
    <input type="text" class="form-control" id="company" placeholder="Add/Update/Delete"/>
  </div>
  <div class="form-group">
    <label for="company">Notes</label>
    <textarea name="message" id="contact_message" class="form-control bg-contrast" placeholder="What do you want to let us know?" rows="3" required></textarea>
  </div>

  <div class="form-group mt-5">
    <button class="btn btn-rounded btn-primary btn-block btn-lg text-center" type="submit">
      Send request
    </button>
  </div>
</form>
